* {
    font-family: "Verdana";
    font-weight: normal;
    font-size: normal;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  .logo {
    position: absolute;
    left: 10%;
    top: 20px;
    width: 200px;
    height: 70%;
  }
  .navbar {
    position: absolute;
    display: flex;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    justify-content: flex-end;
  }
  .navbar > ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 10%;
  }
  .navbar a {
    text-decoration: none;
    color: white;
  }
  .navbar li {
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid transparent;
    height: 30px;
    transition-duration: 0.4s;
  }
  .navbar li:hover {
    border-bottom: 2px solid #8020bc;
  }
  .footer{
    position: absolute;
    top: 140%;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #1d1d1d;
    box-shadow: 0px 1px 100px #1b1b1b;
  }
  .footer table{
    width: 70%;
    margin: auto;
    margin-top: 2.5%;
  }
  .footer tr:first-of-type td{
    height: 40px;
    font-size: 18px;
    width: 200px;
  }
  .footer a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition-duration: 0.4s;
  }
  .footer a:hover{
    border-bottom: 2px solid rgb(125, 29, 185);
  }
  .logo2{
      left: 10%;
      width: 200px;
      margin-right: 100px;
  }
  .footer tr td{
    height: 30px;
  }
  body::-webkit-scrollbar {
    display: none;
  }